{
	margin: 0 0 0 0;
}

body{
     background-color: orange;
}
#game_field{
   background-color: #785dfa;   
   height: 600px;
   width: 600px;
   margin: 3% auto 10px auto ;
}
.game_cell{
	width: 200px
	height: 200px;
	float: left;